export("getNCIPathways",
       "getSubtype.NCIgraph",
       "is.NCIgraph",
       "parseNCInetwork",
       "translateNCI2GeneID")

exportClasses(NCIgraph)

importClassesFrom(graph, attrData, graphNEL, renderInfo)

importClassesFrom(methods, character, list, vector)

importMethodsFrom(graph, addEdge, edgeData, "edgeData<-",
                 "edgeDataDefaults<-", edgeL, edges, "nodeData<-",
                 "nodeDataDefaults<-", nodes, removeEdge, subGraph)

importMethodsFrom(KEGGgraph, getSubtype)

importMethodsFrom(RCy3, getWindowList)

importFrom(graph, validGraph)

importFrom(methods, as, callNextMethod, new)

importFrom(RBGL, connectedComp)

importFrom(RCy3, CytoscapeConnection)

importFrom(R.methodsS3, throw)
